includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - routes
        - database/schemas
        - database/factories
        - database/seeders
        - database/migrations
        - database/validators
